/* width */
.scroll::-webkit-scrollbar {
  height: 0px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: #014f86;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.task:hover .btns{
  display: flex;
}

.transition2{
  transition: 1.5s;
  transition-delay: 0.5;
}

.transition1 {
  transition-duration: 1.5s;
  transform: translateX(-150%) scale(0.7);
  /* transform: rotateY(-100%); */

}